.game {
  display: flex;
  flex-direction: row;
}

.field {
  height: 100px;
  width: 60px;
  border: 1px solid #999;
}

.sand {
  background: #c2b280;
}

.rocks {
 background: #302f2e;
}

.mountains {
 background: #5c3838;
}